body {
  color: #020324;
  margin: auto;
  max-width: 65em;
  font-family: "verdana", "sans-serif";
  background-color: skyblue;
}

.reportcontent {
  word-wrap: break-word;
  max-width: 55 em;
}

.specialtext {
  background-color: skyblue;
  padding: 0.25em;
} 

img {
  height: auto;
  width: 300px;
}

.reactions {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}

.reactions ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.reactions li {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 8px;
  background-color: skyblue;
  border-radius: 15px;
  font-size: 1rem;
}

.pagetitle {
  background-color: aliceblue;
  padding: 0.5em;
  margin: 0.5em;
  margin-bottom: 1em;
  word-wrap: break-word;
}

.newreport {
  border: 2px solid darkblue;
  background-color: skyblue;
  padding: 0.5em;
  margin: 1em;
}

.pagenav {
  border: 2px solid darkblue;
  background-color: skyblue;
  padding: 1em;
  margin: 1em;
  margin-top: 2em;
}

.nav {
  border: 2px solid darkblue;
  background-color: skyblue;
  padding: 1em;
  margin: 0.5em;
  margin-bottom: 1em;
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:last-of-type) {
  border-right: 2px solid darkblue;
}

nav li:not(:first-of-type) {
  margin-left: -0.25em;
} 

.header {
  background-color: skyblue;
  color: mediumblue;
  padding: 0.5em;
  margin: 0em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.content {
  background-color: aliceblue;
  padding: 1em;
  margin: 0.5em 0.5em;
}

.report {
  border: 2px solid darkblue;
  background-color: skyblue;
  padding: 0.2em 0.5em;
  margin: 1em;
  word-wrap: break-word;
}

h1, h2 {
  margin: 0;
}
