<!DOCTYPE html>
<html>

<head>
  <title>Poista raportti</title>
</head>

<body>
  <h1>Poista raportti</h1>

  <form action="/delete/{{ report.id }}" method="post">
    <p>
      <strong>Ethän poista raportteja korjatuista vesivahingoista, vaan <a href="/edit/{{ report.id }}">merkitse ne korjatuiksi.</a></strong>
    </p>
    <p>
      Oletko varma, että haluat poistaa tämän raportin? Poistettuja raportteja ei voi palauttaa!
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="continue" value="Poista raportti" />
    <input type="submit" name="cancel" value="Ei sittenkään" />
  </form>

</body>
