{% extends "layout.html" %}

{% block title %}Muokkaa raporttia{% endblock %}

{% block pagetitle %}Muokkaa raporttia{% endblock %}

{% block content %}

  <form action="/edit/{{ report.id }}" method="post">
    <p>
      <label for="content">Viesti</label>:<br />
      <textarea id="content" name="content" rows="5" cols="40" maxlength="2000">{{ report.content }}</textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </form>

{% endblock %}
