<!DOCTYPE html> <html>

{% extends "layout.html" %}

{% block title %}VesivahinkoTracker{% endblock %}

{% block pagetitle %}Etusivu{% endblock %}

{% block content %}

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

{% if session.user_id %}
  <br />
  Olet kirjautunut käyttäjänä {{ username[0] }}

  <div class="newreport">

  <h2>Raportoi vesivahinko</h2>

  <form action="/new_report" method="post" enctype="multipart/form-data">
    <p>
      <label for="title">Otsikko</label>:<br />
      <input id="title" type="text" name="title" maxlength="60" required />
    </p>
    <p>
      <label for="content">Lisätiedot</label>:<br />
      <textarea id="content" name="content" rows="5" cols="40" maxlength="2000"></textarea>
    </p>
    <p>
      <label for="location">Sijainti</label>: 
      <select id="location" name="location_id" id="location_id" required>
        {% for location in locations %}
         <option value="{{ location.id }}">{{ location.value }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      <label for="image">Kuva</label>:
      <input id="image" type="file" name="image" accept=".jpg" />
    </p>
    <p>
      <label for="alttext">(Alt text): kuvaile, mitä kuvassa on</label>:
      <input id="alttext" type="text" name="alttext" maxlength="300" />
    </p>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </form>
  </div>	
{% endif %}
  
  {% for report in reports %}
  <div class="report">
    <p>
      <strong><a href="/report/{{ report.id }}">{{ report.title }}</a></strong>
      <br />
      {{ report.value }}
      <br />
      <a href="/user/{{ report.user_id }}">{{ report.username }}</a>
      <br />
      &#127770; {{ report.moon_count }}  &#128051; {{ report.whale_count }}  &#128511; {{ report.moai_count }}  &#128557; {{ report.crying_count }}  &#129760; {{ report.melting_count }}
      <br />
      Raportoitu {{ report.last_sent }}  
    </p>
  </div>
  {% endfor %}


  <div class="pagenav">
    <p>
      <a href="/{{ page - 1 }}">&lt;&lt;</a>
      Sivu {{ page }}/{{ page_count }}
      <a href="/{{ page + 1 }}">&gt;&gt;</a>
    </p>
  </div>

{% endblock %}
