{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block pagetitle %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
  <p>  
    <a href="/">Etusivulle</a>
  </p>
  <p>
    Käyttäjä on tehnyt {{ reports | count }} raporttia
  </p>
  
  {% if reports %}
  <p>
    Ensimmäinen raportti tehty {{ reports[-1].sent_at }}
  </p>
  <p>
    Viimeisin raportti tehty {{ reports[0].sent_at }}
  </p>  
  {% else %}
  <p>
    Käyttäjä ei ole tehnyt yhtään raporttia
  </p>
  {% endif %}

  {% for report in reports %}
  <div class="report">
      <a href="/report/{{ report.report_id }}">
        {{ report.title }}
      </a>
      <br />
      ({{ report.sent_at }}) 
  </div>
  {% endfor %}

{% endblock %}
