{% extends "layout.html" %}

{% block title %}Rekisteröi tili{% endblock %}

{% block pagetitle %}Rekisteröi tili{% endblock %}

{% block content %}

  {% for  message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <form action="/register" method="post">
    <p>
      <label for="username">Käyttäjänimi</label>:<br />
      <input id="username" type="text" name="username" minlength="3" maxlength="30" required />
    </p>
    <p>
      <label for="password1">Salasana</label>: <br />
      <input id="password1" type="password" name="password1" required />
    </p>
    <p>
      <label for="password2">Salasana uudestaan</label>: <br />
      <input id="password2" type="password" name="password2" required />
    </p>
    <input type="submit" value="Luo käyttäjätili" />
  </form>

  <br />
  Onko sinulla jo tili? <a href="/login">Kirjaudu sisään</a>
  <hr />
  <a href="/">Etusivulle</a>

{% endblock %}
