{% extends "layout.html" %}

{% block title %}{{ report.title }}{% endblock %}

{% block pagetitle %}{{ report.title }}{% endblock %}

{% block content %}
  <div class="specialtext">
    <p>
      Sijainti: <strong>{{ report.value }}</strong>
    </p>
    <p>
      Käyttäjältä <a href="/user/{{ report.user_id }}">{{ report.username }}</a> 
      | Raportoitu {{ report.sent_at }}
    </p>
    {% if report.user_id == session.user_id %}
    <p>
      <a href="/edit/{{ report.id }}">Muokkaa</a> | <a href="/delete/{{ report.id }}">Poista</a>
    </p>
    {% endif %}
  </div>
  <p>
    {{ report.content | line_breaks }}
  </p>

{% if report.has_image %}
  <div class="img">
    <p>
      <img src="/image/{{ report.id }}" onerror="this.style.display='none'" />
    </p>
  </div>
{% else %}
  <br />
{% endif %}

  <div class="reactions">
    <ul>
      {% for reaction in reactions %}        
        <li>
          {{ reaction.emoji[0] }} {{ reaction.reaction_count }}
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if session.user_id %}

  <form action="/new_reaction" method="post">
    <p>
      <input type="radio" name="emoji" value="1" /> &#127770;  
      <input type="radio" name="emoji" value="2" /> &#128051;  
      <input type="radio" name="emoji" value="3" /> &#128511;  
      <input type="radio" name="emoji" value="4" /> &#128557;  
      <input type="radio" name="emoji" value="5" /> &#129760;  
    </p>
    <p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="hidden" name="report_id" value="{{ report.id }}" />
      <input type="submit" value="reagoi" />
    </p>
  </form>
  <br />

  {% else %}
  <div class="specialtext">
    <p>
      <a href="/login">Kirjaudu sisään</a> reagoidaksesi.
    </p>
  </div>
  {% endif %}

  <div class="specialtext">
    <p>
      <a href="/">Etusivulle</a>
    </p>
  </div>
{% endblock %}
