<!DOCTYPE html>
<html>

<head>
  <title>Haku</title>

<body>
  <h1>Haku</h1>

  <form action="/search" method="get">
    <p>
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>
  <p>
    <a href="/">Etusivulle</a>
  </p>

  {% if query %}
  <hr />
  <h2>Tulokset</h2>
  
  <ul>
  {% for result in results %}
    <li>
      <hr />
      <strong><a href="/report/{{ result.report_id }}">{{ result.report_title }}</a></strong>
      <br />
      <a href="/user/{{ result.user_id }}">{{ result.username }}</a> ({{ result.sent_at }})
    </li>
  {% endfor %}
  </ul>
  {% endif %}

</body>

</html>
