{% extends "layout.html" %}

{% block title %}Hae{% endblock %}

{% block pagetitle %}Hae{% endblock %}

{% block content %}

  <form action="/search" method="get">
    <p>
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>
  <p>
    <a href="/">Etusivulle</a>
  </p>

  {% if query %}
  <hr />
  <h2>Hakutulokset</h2>
  
  {% for result in results %}
    <div class="report">
      <strong><a href="/report/{{ result.report_id }}">{{ result.report_title }}</a></strong>
      <br />
      {{ result.value }}
      <br />
      <a href="/user/{{ result.user_id }}">{{ result.username }}</a> ({{ result.sent_at }})
    </div>
  {% endfor %}
  {% endif %}

{% endblock %}
